@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adds spacing between navbar links */
.top-menu > a {
  margin-right: 10px;
}

/* Center content vertically and horizontally */
.center-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Restrict login card width */
.login-card {
  width: 300px;
}

/* Add spacing from top nav */
.main-content {
  margin-top: 100px;
}

/* Search input width */
.search-bar {
  width: 400px;
}

/* Column width for comparisons */
.compare-col {
  width: 400px;
}